img{
    width: 250px;
    margin-top: 100px;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: azure;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    font-size: 18px;
    color:aliceblue;
    font-weight: 500;
    text-decoration: none;
    margin-left: 100px;
    transition: 3s;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
}

.navbar a:hover::before {
    width: 100%;
}

.navbar a:hover,
.navbar a.active{
    color: cadetblue;
}

section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: #7c888f;
    font-size: 60px;
    color: #9f5151;
    font-weight: 500;
}

section:nth-child(odd){
    background: #8c8e8f;
}

button ul li{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    list-style: none;
    margin: 15px;
    font-size: 35px;
    line-height: 60px;
    transition: .3s;
    border: none;
    background-color: rgb(255, 255, 255);
}

h2{
    font-size: 40px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    align-content: center;
}

*{
    font-family: 'Gill Sans', 'sans-serif';
    list-style: none;
    padding: 0;
    margin: 0;
}

h3{
    text-align: center;
    margin: 5px;
}

body{
    background: #ffffff;
    text-transform: uppercase;
}

.skills{
    width: 700px;
    margin: 60px auto;
    background: #716f6f;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.skill li{
    margin: 20px 0;
    padding: 10px;

}
.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.22);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), , 0 10px 10px rgba(0, 0, 0, 0.22);
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgb(232, 169, 207)0%, rgba(252,103, 103, 1)100%);
}

.html{
    width: 90%;
    animation: html 3s;
}

.css{
    width: 70%;
    animation: css 3s;
}

.JavaScript{
    width: 60%;
    animation: JavaScript 3s;
}
.Exel{
    width: 95%;
    animation: Exel 3s;
}

*{
    margin:0;
    padding: 0;
}

form{
    background-color: #9b8c8c;
    font-family: sens-serif;
}
.contact-box{
    width: 5000px;
    background-color: #5e4141;
    box-shadow: 0 0 20px 0 #999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

form{
    margin: 35px;
}

.input-field{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}
.textarea-field{
    height: 150px;
    padding-top: 10px;
}

.btn{
    border-radius: 20px;
    color: #fff;
    margin-top: 18px;
    padding: 10px;
    background-color: #5c9163;
    font-size: 12px;
    border: none;
    cursor: pointer;
}